@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3DBEFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

img {
    width: 100%;
}

header img {
    width: 35%;
    margin: 2em;
}

.burger-menu img {
    width: 30%;
    cursor: pointer;
}

.nav-links {
    position: fixed;
    min-height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    padding: 2rem;
    gap: 2rem;
    transition: .5s;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-links::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: -1.5rem;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #fff;
    z-index: -1;
}

ul li {
    cursor: pointer;
}

.hidden {
    display: none;
}

.contact {
    background-color: rgb(250, 212, 0);
    border-radius: 2em;
    padding: .5em 1.5em; 
    font-family: "Fraunces", serif;
    font-weight: 700;
}

#arrow-icon {
    position: relative; 
    z-index: 5; 
}

body {
    font-family: "Barlow", sans-serif;
    min-height: 100vh;
}

.creatives {
    text-transform: uppercase;
    height: 60vh;
    padding-bottom: 20vh;
    color: white;
    text-align: center;
    background: url("images/mobile/image-header.jpg") no-repeat center/cover;
}

h1 {
    font-size: 3em;
    padding-top: 1em;
    font-family: "Fraunces", serif;
}

ion-icon {
    font-size: 5em;
    padding-top: .5em;
}

ion-icon:hover {
    cursor: pointer;
}

.transform-your-brand, .audience {
    background-color: hsl(26, 100%, 99%);
    margin: 1em;
    padding: 2em;
    text-align: center;
    height: 40vh;
}

.transform-your-brand h2, .audience h2 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2em;
    color: hsl(212, 27%, 19%);
    margin-bottom: .5em;
}

.transform-your-brand p, .audience p {
    color: hsl(232, 10%, 55%);
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500;
    padding-bottom: 2em;
}

.transform-your-brand h3 {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1em;
    color: hsl(212, 27%, 19%);
    position: relative;
    margin-bottom: 10px; 
}

.transform-your-brand h3:hover {
    cursor: pointer;
}

.transform-your-brand h3::after {
    content: ""; 
    display: block;
    width: 130px; 
    height: 8px; 
    background-color: hsla(51, 100%, 49%, 0.256);
    border-radius: 10px; 
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translateX(-50%); 
}

.audience h3 {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1em;
    color: hsl(212, 27%, 19%);
    position: relative; 
    margin-bottom: 10px; 
}

.audience h3:hover {
    cursor: pointer;
}

.audience h3::after {
    content: ""; 
    display: block;
    width: 130px; 
    height: 8px; 
    background-color: hsla(7, 99%, 70%, 0.256); 
    border-radius: 10px;
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translateX(-50%); 
}

.graphic-design {
    position: relative; 
    background-color: hsl(165, 48%, 74%);
    text-align: center;
}

.graphic-design-desktop {
    display: none;
}
  
.graphic-design img {
    width: 100%;
    height: auto;
}
  
.graphic-design h2, .graphic-design p {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%;
}
  
.graphic-design h2 {
    top: 65%;
    color: hsl(167, 40%, 24%); 
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.4em;
}
  
.graphic-design p {
    top: 75%; 
    font-size: 1.2em;
    line-height: 1.5em;
    color: hsl(167, 40%, 24%);
    font-weight: 500;
}
  
.photography {
    position: relative; 
    text-align: center;
    background-color: #6CC7FE;
}

.photography-desktop {
    display: none;
}

.photography img {
    width: 100%;
    height: auto;
}
  
.photography h2, .photography p {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%;
}
  
.photography h2 {
    top: 65%;
    color: hsl(198, 62%, 26%); 
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.4em;
}
  
.photography p {
    top: 75%; 
    font-size: 1.2em;
    line-height: 1.5em;
    color: hsl(198, 62%, 26%);
    font-weight: 500;
}

.testimonials {
    text-align: center;
    padding: 2em;
    margin: 2em;
}

.client-testimonials {
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: .11em;
    text-align: center;
    padding-top: 3em;
}

.testimonials img {
    width: 20%;
    border-radius: 50%;
}

.client {
    margin-bottom: 3em;
}

.testimonials p {
    font-size: 1.2em;
    color: hsl(213, 9%, 39%);
    font-weight: 500;
    line-height: 1.5em;
    padding: 1em 0 1em 0;
}

.names {
    font-family: "Fraunces", serif;
    font-size: 1.4em;
}

.testimonials .job {
    font-size: 1.1em;
    color: hsl(232, 10%, 55%);
}

.images {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
}

.images img {
    width: 100%; 
    height: auto; 
}

footer {
    background-color: hsl(165, 48%, 74%);
    padding: 2em;
}

.logo-container {
    width: 100%;
    height: 100px; 
    background-color: hsl(167, 40%, 24%); 
    -webkit-mask: url(images/logo.svg) no-repeat center; 
    mask: url(images/logo.svg) no-repeat center; 
    -webkit-mask-size: 150%; 
    mask-size: 50%; 
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 2em;
}

ul li {
    margin: 0 20px;
    font-size: 1.2em;
    color: hsl(167, 40%, 24%);
    font-weight: 500;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 3em;
}

.social-media:hover {
    cursor: pointer;
}

.social-media img {
    width: 8%;
    height: auto;
}

@media only screen and (min-width: 950px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
    
    header img {
        width: 15%;
    }

    #burger-menu {
        display: none;
    }

    .hidden {
        display: block;
    }

    .nav-links {
        display: flex; 
        flex-direction: row;
        list-style: none; 
        background-color: transparent;    
        margin-left: auto;
        top: 7%;
        right: -55%;
    }

   .nav-links li {
        font-size: 1em;
    }

   .contact {
        background-color: white;
        color: hsl(210, 69%, 16%);
    }

    .contact:hover {
        background-color: #91d0f0b8;
        color: white;
    }

    .nav-links::before {
        display: none;
    }

    .creatives {
        background: url("images/desktop/image-header.jpg") no-repeat center calc(50% - 100px) / cover; 

    }

    h1 {
        letter-spacing: .4em;
    }

    .transform-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .egg-image, .cup-image {
        width: 53%;
    }

    .egg-image {
        order: 2;
    }

    .transform-your-brand, .audience {
        width: 50%;
        text-align: left;
        padding: 5em;
        font-size: 1.3em;
    }

    .transform-your-brand h3::after, .audience h3::after {
        left: 11%;
        width: 23%;
    }

   .services {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .services img {
        width: 100%;
    }

    .graphic-design, .photography {
        width: 50%;
    }
    
    .graphic-design-desktop {
        display: block;
    }

    .graphic-design-mobile {
        display: none;
    }

    .photography-mobile {
        display: none;
    }

    .photography-desktop {
        display: block;
    }

    .testimonials {
        display: flex;
        justify-content: space-around;
    }

    .client {
        width: 25%;
    }

    .images {
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
    }

    .logo-container, .social-media {
        width: 20%;
        margin: auto;
        margin-bottom: 2em;
        margin-top: 5em;
    }


}